<% if @current_user %>
  <h1>Welcome to Bookmark Manager, <%= @current_user.email %></h1>
<% end %>

<%= flash[:error] %>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="blank">
        <%= bookmark.title %>
      </a>

      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>

      <form action="/bookmarks/<%= bookmark.id %>/edit">
        <input type="submit" value="Edit">
      </form>

      Comments:
      <ul>
        <% bookmark.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new">
        <input type="submit" value="Add comment">
      </form>

      Tags:
      <ul>
        <% bookmark.tags.each do |tag| %>
          <li>
            <a href="/tags/<%= tag.id %>/bookmarks">
              <%= tag.content %>
            </a>
          </li>
        <% end %>
      </ul>
      <form action="/bookmarks/<%= bookmark.id %>/tags/new">
        <input type="submit" value="Add tag">
      </form>
    </li>
  <% end %>
</ul>

<a href="/bookmarks/new">Add bookmark</a>
